.speech{
    font-family: serif;
    font-size: medium;
    color: lightgreen;
}
.stage-direction{
    font-family: sans-serif;
    font-size: medium;
    color: aqua;
    background-color: lightskyblue;
}
.stage-direction.hover{
    background-color: lightblue;
}
.name{
    font-family: 'Times New Roman';
    font-size: x-large;
    color: orange;
}
.LORDGORING{
    color: red;
}
.LORDCAVERSHAM{
    color: royalblue;
}
table,th,td{
    border: 5px solid black;
    border-color: tomato;
    text-align: center;
    padding: 10px;
    margin: 25px 50px 75px 100px;
}
tr:nth-child(odd){
    background-color: darkgreen;
}